// Pattern se refere a escalas de cores
// No caso 1-pattern se refere a cores cinzas mas pode representar qualquer tonalidade 
$common-colors-1-pattern-1: #e5e5e5;
$common-colors-1-pattern-2: #d8d8d8;
$common-colors-1-pattern-3: #f1f1f1;
$common-colors-1-pattern-4: #777;
$common-colors-1-pattern-5: #555;

// White
$common-colors-2-pattern-1: #fff;