.panel-header{

	.block-1{
		height: 100%;
		display: flex;
		align-items: center;
	}

	h1{
		margin-left: 20px;
		font-size: 1.6rem;
		color: $common-colors-1-pattern-4;
		
		.icon-1 {

			color: $common-colors-1-pattern-5;
			
		}
		
		.first {
			
			font-weight: bold;
			color: $common-colors-1-pattern-5;
			
		}

	}

}