@media screen and (min-width: $min-width-view-1) and (max-width: $max-width-view-1) {
  
  .nav-theme-1 {

  	.item-1 {

  		.link-1 {

  			align-items: center;
        	justify-content: center;

  		}

  		.info-1 {

	      display: none;

	    }

  	}
    
    

  }

}