$color-pattern-1-nav-theme-2: #d8d8d8;
$color-pattern-2-nav-theme-2: #aaa;
$color-pattern-3-nav-theme-2: #555;
$color-pattern-4-nav-theme-2: #E2E2E2;
$color-pattern-5-nav-theme-2: #777;
$color-pattern-6-nav-theme-2: #f1f1f1;
$color-pattern-7-nav-theme-2: #fff;
$color-pattern-8-nav-theme-2: #f7f7f7;
$color-pattern-9-nav-theme-2: #eee;

$bullet-1-diameter-nav-theme-2: 20px;
$bullet-1-border-radius-nav-theme-2: $bullet-1-diameter-nav-theme-2 / 2;