$test-color-blue-1: #1b7ca6;
$test-color-blue-2: #e5eaec;

$test-color-gray-1: #f1f1f1;
$test-color-gray-2: #777;

$test-color-orange-1: #e49a16;
$test-color-orange-2: #fdf1db;

.panel-section[data-profile="panel-user"]{

	.panel-header{

		.block{
			
			border-color: $test-color-blue-1;
			background-color: $test-color-gray-1;


			h1{

				color: $test-color-blue-1;

				.second {

					color: $test-color-gray-2;
				}
			}
		}
	}

	.panel-nav {
		
		.block {
			
			background-color: $test-color-gray-1;
		}

		.nav-theme-1 {

			.item-1 {

				&:not(.selected):hover {

					.link-1 {

			        	background: $test-color-blue-2;

				        .icon-1 {

				          color: $test-color-blue-1;

				        }

					}

			    }

			}

		}

		.nav-theme-2 {

			.item-1 {

				&.active {
      
			      .link-1{
			        
			        background-color: $test-color-orange-2;

			        .bullet-1 {

			          .icon-1 {

			            color: $color-pattern-3-nav-theme-2;

			          }

			      	}

			      	.info-1 {

			          color: $color-pattern-3-nav-theme-2;

			        }

			        .icon-list-1 {

			          color: $test-color-orange-1;

			        }

			      }

			    }

			    &.selected{

			      .block-1 {

			        .link-1 {

			          .bullet-1 {

			            background: $test-color-orange-1;

			          }

			          .info-1 {

			            color: $test-color-orange-1;

			          }

			        }

			      }

			    }

				&:not(.selected):not(.active):hover {

					.link-1 {

						background-color: $test-color-blue-2;

						border-color: $test-color-blue-2;

						.bullet-1 {

							background-color: $test-color-blue-1;

						}

						.info-1 {

							color: $test-color-blue-1;

						}

					}

				}

				.sub-list-1 {
					
					.item-2 {

						&:not(.selected):hover {
          
				          .link-2 {

				            background-color: $test-color-blue-2;

				            .icon-2 {

				              color: $test-color-blue-1;

				            }

				            .info-2 {

				              color: $test-color-blue-1;

				            }

				          }

				        }

				        &.selected {
          
				          .link-2 {
				            
				            .icon-2 {

				              color: $test-color-orange-1;

				            }

				            .info-2 {
				              
				              color: $test-color-orange-1;

				            }

				          }

				        }
					}
				}

			}
		}

	}
	
}









$test-color-blue-1: #1b7ca6;
$test-color-blue-2: #e5eaec;

$test-color-gray-1: #555;
$test-color-gray-2: #777;

$test-color-orange-1: #e49a16;
$test-color-orange-2: #fdf1db;




.panel-section[data-profile="panel-dev"]{

	.panel-header{

		.block{
			
			border-color: $test-color-blue-1;
			background-color: $test-color-gray-1;


			h1{

				color: $test-color-blue-1;

				.second {

					color: $test-color-gray-2;
				}
			}
		}
	}

	.panel-nav {
		
		.block {
			
			background-color: $test-color-gray-1;
		}

		.nav-theme-1 {

			.item-1 {

				&:not(.selected):hover {

					.link-1 {

			        	background: $test-color-blue-2;

				        .icon-1 {

				          color: $test-color-blue-1;

				        }

					}

			    }

			}

		}

		.nav-theme-2 {

			.item-1 {

				.link-1 {

					border-color: $test-color-gray-1;
				}

				&.active {
      
			      .link-1{
			        
			        background-color: $test-color-orange-2;

			        .bullet-1 {

			          .icon-1 {

			            color: $color-pattern-3-nav-theme-2;

			          }

			      	}

			      	.info-1 {

			          color: $color-pattern-3-nav-theme-2;

			        }

			        .icon-list-1 {

			          color: $test-color-orange-1;

			        }

			      }

			    }

			    &.selected{

			      .block-1 {

			        .link-1 {

		        		border-top: 1px solid $color-pattern-6-nav-theme-2;
      					border-bottom: 1px solid $color-pattern-6-nav-theme-2;

			          .bullet-1 {

			            background: $test-color-orange-1;

			          }

			          .info-1 {

			            color: $test-color-orange-1;

			          }

			        }

			      }

			    }

				&:not(.selected):not(.active):hover {

					.link-1 {

						background-color: $test-color-blue-2;

						border-color: $test-color-blue-2;

						.bullet-1 {

							background-color: $test-color-blue-1;

						}

						.info-1 {

							color: $test-color-blue-1;

						}

					}

				}

				.sub-list-1 {
					
					.item-2 {

						&:not(.selected):hover {
          
				          .link-2 {

				            background-color: $test-color-blue-2;

				            .icon-2 {

				              color: $test-color-blue-1;

				            }

				            .info-2 {

				              color: $test-color-blue-1;

				            }

				          }

				        }

				        &.selected {
          
				          .link-2 {
				            
				            .icon-2 {

				              color: $test-color-orange-1;

				            }

				            .info-2 {
				              
				              color: $test-color-orange-1;

				            }

				          }

				        }
					}
				}

			}
		}

	}
	
}

