@mixin profile-theme-pattern-1 ($background-color-1: null, $border-color-1: null, $text-color-1: null) {
	
	@if $background-color-1 != null {
		background-color: $background-color-1;
    }
    
	@if $border-color-1 != null {
		border-color: $border-color-1;
	}

	@if $text-color-1 != null {
		color: $text-color-1;
	}

}

@mixin profile-theme-nav-theme-1 ($color-1, $color-2, $color-3, $color-4, $color-5, $color-6, $color-7, $color-8) {
	
	.panel-header{

		h1{

			color: $color-2;
			
			.icon-1 {

				color: $color-5;
				
			}
			
			.first {
				
				color: $color-5;

			}

		}

	}

	.nav-theme-1 {
		
		.item-1 {
			
			.link-1 {
				
				@include profile-theme-pattern-1 (null, $color-1);

				.icon-1 {
					
					@include profile-theme-pattern-1(null, null, $color-2);
				}

				.info-1 {
					
					@include profile-theme-pattern-1(null, null, $color-3);
				}

			}

			&:not(.selected):hover {

				.link-1 {

					background: $color-4;

					.icon-1 {

						color: $color-6;

					}

				}

			}

			&.selected {

				.link-1 {

					@include profile-theme-pattern-1 ($color-8);

					.icon-1 {

						@include profile-theme-pattern-1 (null, null, $color-7);

					}
					.info-1 {

						@include profile-theme-pattern-1 (null, null, $color-7);

					}

				}

			}

		}

	}

}

@mixin profile-theme-nav-theme-2 ($color-1, $color-2, $color-3, $color-4, $color-5, $color-6, $color-7, $color-8, $color-9, $color-10) {
	
	.nav-theme-2{
		
		.item-1 {
			
			.link-1 {
				
				@include profile-theme-pattern-1 ($color-1, $color-1);

				.bullet-1 {
					
					@include profile-theme-pattern-1 ($color-2);

					.icon-1 {
						
						@include profile-theme-pattern-1 (null, null, $color-1);

					}

				}

				.info-1 {
					
					@include profile-theme-pattern-1 (null, null, $color-3);

				}

				.icon-list-1 {
        
					@include profile-theme-pattern-1 (null, null, $color-2);

				}

      		}

      		&.active {
      
				.link-1{

					@include profile-theme-pattern-1 ($color-6, $color-6);

					.bullet-1 {
						
						background-color: transparent;

						.icon-1 {
							
							@include profile-theme-pattern-1 (null, null, $color-7);

						}

					}

					.info-1 {

						@include profile-theme-pattern-1 (null, null, $color-7);

					}

					.icon-list-1 {
        
						@include profile-theme-pattern-1 (null, null, $color-7);

					}

				}

			}
			
			&:not(.selected):not(.active):hover {
				
				.link-1 {

					@include profile-theme-pattern-1 ($color-4, $color-4);

				}

				.bullet-1 {
					
					@include profile-theme-pattern-1 ($color-5);

				}

				.info-1 {

					@include profile-theme-pattern-1 (null, null, $color-3);

				}

			}

			.sub-list-1 {

				.item-2 {
					
					.link-2 {

						@include profile-theme-pattern-1 ($color-9);

						.icon-2 {

							@include profile-theme-pattern-1 (null, null, $color-2);

						}

						.info-2 {

							@include profile-theme-pattern-1 (null, null, $color-3);

						}
					}

					&:not(.selected):hover {

						.link-2 {

							@include profile-theme-pattern-1 ($color-4);

							.icon-2 {
								
								@include profile-theme-pattern-1 (null, null, $color-5);

							}

						}

					}

					 &.selected {
          
          				.link-2 {

          					@include profile-theme-pattern-1 ($color-10);
	          				
	          				.icon-2 {
	          					
	          					@include profile-theme-pattern-1 (null, null, $color-8);

	          				}

	          				.info-2 {
	          					
	          					@include profile-theme-pattern-1 (null, null, $color-8);

	          				}

          				}
          			}

				}

			}

		}

	}
	
}

@mixin profile-structure ($name, $color-1, $color-2, $color-3, $color-4, $color-5, $color-6, $color-7, $color-8, $color-9, $color-10, $color-11) {

	.panel-section[data-profile=#{$name}] {
		
		.panel-header {
			
			background-color: $color-1;

			.block {
				
				@include profile-theme-pattern-1($color-1, $color-3);
				
			}

		}

		.panel-nav {
			
			background-color: $color-1;

			.block {
				
				@include profile-theme-pattern-1($color-1, $color-2);
				
			}

		}

		@include profile-theme-nav-theme-1($color-2, $color-4, $color-5, $color-6, $color-3, $color-7, $color-8, $color-9);

		@include profile-theme-nav-theme-2($color-1, $color-4, $color-5, $color-6, $color-3, $color-7, $color-10, $color-8, $color-11, $color-9);

	}

}

@include profile-structure (
	"dev-panel",
	#444,
	#333,
	#1b7ca6,
	#999,
	#ddd,
	#3F4B50,
	#4898BB,
	#555,
	#fff,
	#f1f1f1,
	#555
);

@include profile-structure (
	"user-panel",
	#f1f1f1,
	#ccc,
	#BA4CBD,
	#999,
	#555,
	#EDE4ED,
	#BA4CBD,
	#555,
	#fff,
	#f1f1f1,
	#e2e2e2
);